<h1>ブログ一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @tws.each do |tw| %>
  <tr>
    <td><%= tw.content %></td>

    <td><%= link_to '詳細を確認する', tw_path(tw.id) %></td>
    <td><%= link_to 'twを編集する', edit_tw_path(tw.id), data:{ confirm: 'twを編集していいですか？' } %></td>
    <td><%= link_to 'twを削除する', tw_path(tw.id), method: :delete, data: { confirm: 'twを削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくブログを投稿する', new_tw_path %>